@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Noto+Sans+Devanagari:wght@300&family=Rubik:wght@500&display=swap');

body{
    margin: 0;
}
.section1{
    background-color: rgb(255, 255, 255);
}
#section1TitleHead{
    margin: 1.2rem;
    font-family: 'Rubik', sans-serif;
    position: sticky;
}
.section1Body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem;
}
#section1BodyHead{
    background-color: #FDDA0D;
    padding: 2px;
    box-shadow: 5px 10px 2.5px #888888;
    display: flex;
    align-items: center;
    height: 1rem;
    margin: 15px;
}
#HIText {
    margin-right: 5px;
}

#section1BodyTitle{
    font-size: 9rem;
    font-weight: 1000;
    font-family: 'Noto Sans Devanagari', sans-serif;
    margin-bottom: -30px;
}
#section1BodyText{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

.section2{
    padding: 10rem ;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
}
.section2Head{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Libre Barcode 39 Text', cursive;
    color: #FDDA0D;
    margin-bottom: 100px;
}
#section2Quote{
    font-family: 'Major Mono Display', monospace;
    font-size: 4rem;
    text-align: center;
    color: rgb(184, 65, 65);
}

.section3{
    background-color: rgb(255, 255, 255);
}