@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Noto+Sans+Devanagari:wght@300&family=Rubik:wght@500&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    background-color: white;
    cursor: default;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 3s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes blink {
    25% {
        background-color: #23d613;
        box-shadow: 5px 5px  #003cff, 10px 10px  #ff3300, 15px 15px #FDDA0D;
    }
    50% {
        color: white;
        background-color: #003cff;
        box-shadow: 5px 5px  #ff3300, 10px 10px  #FDDA0D, 15px 15px #23d613;
    }
    75% {
        color: white;
        background-color: #ff3300;
        box-shadow: 5px 5px  #FDDA0D, 10px 10px  #23d613, 15px 15px #003cff;
    }
  }
  
#IGLink{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    background-color: #FDDA0D;
    box-shadow: 5px 5px  #23d613, 10px 10px  #003cff, 15px 15px #ff3300;
    padding: 2px 5px;
    border-radius: 1px;
    animation: blink 4s infinite;
}

.section1{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    margin-top: 30vh;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 20,
    'GRAD' 200,
    'opsz' 48;
    font-size: 69px !important;
    margin-top: 27vh;
    opacity: 0;
    cursor: pointer;
    animation-delay: 5s;
    animation: bounce 4s infinite;
}
.pageTitle{
    color: white;
    mix-blend-mode: difference;
    margin: 0 1.2rem;
    font-family: 'Rubik', sans-serif;
    position: sticky;
    top: 20px;
    z-index: 1;
    cursor: pointer;
}
.section1Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}
#section1BodyHead{
    background-color: #FDDA0D;
    padding: 2px;
    box-shadow: 5px 7px 2.5px #888888;
    display: flex;
    align-items: center;
    height: 1rem;
    margin: 15px;
}
#HIText {
    margin-right: 5px;
}

#section1BodyTitle{
    text-align: center;
    font-size: 9rem;
    font-weight: 1000;
    font-family: 'Noto Sans Devanagari', sans-serif;
    margin-bottom: -30px;
}
#section1BodyText{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
.section2{
    background-color: black;
    color: white;
}
.section2Body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section2BodyHeadTitle{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Libre Barcode 39 Text', cursive;
    color: #FDDA0D;
    margin: 100px;
    opacity: 0;
    transform: translateX(-200%);
    transition: opacity 3s ease-out, transform 3s ease-out;
}
.section2BodyHeadTitle.animate {
opacity: 1;
transform: translateX(0);
}
#section2BodyQuote{
    font-family: 'Major Mono Display', monospace;
    font-size: 4rem;
    text-align: center;
    color: white;
}
.color_white{
    color: #FDDA0D;
}
.div{
    font-size: 2rem;
}

.erase{
    opacity: 0;
    filter: blur(50px);
    transform: translateX(100%);
    transition: all 2s;
}
.write{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#section2BodyText{
    margin: 100px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    #section1BodyTitle{
        font-size: 6rem;
        margin: 20px;
    }
    #section2BodyText{
        margin: 20px;
        text-align: center;
    }
    #section2BodyQuote {
      font-size: 3rem;
      margin: 1rem 2rem;
    }
    .section2BodyHeadTitle{
        font-size: 3rem;
        font-weight: 500;
        font-family: 'Libre Barcode 39 Text', cursive;
        color: #FDDA0D;
        margin-top: 40px;
        margin: 40px;
    }
  }

  @media only screen and (max-width: 430px) {
    #section2BodyQuote {
      font-size: 1.5rem;
      margin: 1rem 2rem;
    }
    .section2BodyHeadTitle{
        font-size: 2.5rem;
        font-weight: 500;
        font-family: 'Libre Barcode 39 Text', cursive;
        color: #FDDA0D;
        margin-top: 40px;
        margin: 40px;
    }
  }

.section3{
    background-color: rgb(255, 255, 255);
}  

#zoomableImg {
    transition: transform 5s;
  }
  
  .zoomed {
    transform: scale(2) translate(50%, 30%);
  }

  